<%- include('../partials/head') %>
<%- include('../partials/footer') %>
        <h1>All Products Here</h1>
        <ul>
            <% for(let product of products){ %>
                <li><%= product.name %> -- <a href="/products/<%= product.id %> ">Details</a></li>
            <% } %>  
        </ul>
        <a href="/products/new"><button>Create Product</button></a>

