<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>All Products Here</h1>
        <ul>
            <% for(let product of products){ %>
                <li><%= product.name %> -- <a href="/products/<%= product.id %> ">Details</a></li>
            <% } %>  
        </ul>
        <a href="/products/new"><button>Create Product</button></a>
        <script src="" async defer></script>
    </body>
</html>